/**
 * Using non-semantic names exceptionally. Here they are better option in my mind, because
 *  - designers use pixels in their sketches, not e.g. breakpoint-s|m|l
 *  - changing the pixel amount is breaking change, which should anyhow be done by introducing
 *      a new variable and deprecating the old one
 *  - variables still help devs to use the common breakpoints
 */
 .uiw-chip {
    position: relative;
    margin: 0;
    cursor: pointer;
    height: 32px;
    box-shadow: 0 0 0 2px transparent;
    display: inline-flex;
    padding: 4px 12px;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
    background-color: #e3e3e3;
    color: #5a575c;
    outline: none;
    min-width: 44px;
  }
  .uiw-chip__close {
    padding-left: 8px;
    color: #5a575c;
  }
  .uiw-chip__close path {
    fill: #5a575c;
  }
  .uiw-chip:hover {
    color: #0000a0;
  }
  .uiw-chip:hover .uiw-chip__close path {
    fill: #0000a0;
  }
  .uiw-chip:focus {
    box-shadow: 0 0 0 2px #aed5ff;
  }
  .uiw-chip__label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .uiw-chip--with-space {
    margin: 0 8px 8px 0;
  }
  .uiw-chip--selected {
    background-color: #dcedff;
    color: #0000a0;
  }
  .uiw-chip--selected .uiw-chip__close path {
    fill: #0000a0;
  }
  .uiw-chip--disabled {
    pointer-events: none;
    color: #8b8a8d;
  }
  .uiw-chip--disabled .uiw-chip__close path {
    fill: #8b8a8d;
  }
  .uiw-chip .uiw-svg-container {
    margin: 0 8px 0 0;
  }
  .uiw-chip .uiw-chip__close .uiw-svg-container {
    margin: 0;
  }
  
  .uiw-chip:before {
    /* touch area increase */
    content: "";
    position: absolute;
    top: -6px;
    right: 0px;
    bottom: -6px;
    left: 0px;
  }
  
  @media (prefers-color-scheme: dark) {
    .uiw-enable-dark-mode .uiw-chip {
      background-color: #383838;
      color: #c9c7c7;
    }
    .uiw-enable-dark-mode .uiw-chip__close path {
      fill: #c9c7c7;
    }
    .uiw-enable-dark-mode .uiw-chip:hover {
      color: #aed5ff;
    }
    .uiw-enable-dark-mode .uiw-chip:hover .uiw-chip__close path {
      fill: #aed5ff;
    }
    .uiw-enable-dark-mode .uiw-chip:focus {
      box-shadow: 0 0 0 2px #83b8ed;
    }
    .uiw-enable-dark-mode .uiw-chip--selected {
      background-color: #5a575c;
      color: #aed5ff;
    }
    .uiw-enable-dark-mode .uiw-chip--selected .uiw-chip__close path {
      fill: #aed5ff;
    }
    .uiw-enable-dark-mode .uiw-chip--disabled {
      background-color: #383838;
      color: #8b8a8d;
    }
    .uiw-enable-dark-mode .uiw-chip--disabled .uiw-chip__close path {
      fill: #8b8a8d;
    }
  }
  .uiw-enforce-dark-mode .uiw-chip {
    background-color: #383838;
    color: #c9c7c7;
  }
  .uiw-enforce-dark-mode .uiw-chip__close path {
    fill: #c9c7c7;
  }
  .uiw-enforce-dark-mode .uiw-chip:hover {
    color: #aed5ff;
  }
  .uiw-enforce-dark-mode .uiw-chip:hover .uiw-chip__close path {
    fill: #aed5ff;
  }
  .uiw-enforce-dark-mode .uiw-chip:focus {
    box-shadow: 0 0 0 2px #83b8ed;
  }
  .uiw-enforce-dark-mode .uiw-chip--selected {
    background-color: #5a575c;
    color: #aed5ff;
  }
  .uiw-enforce-dark-mode .uiw-chip--selected .uiw-chip__close path {
    fill: #aed5ff;
  }
  .uiw-enforce-dark-mode .uiw-chip--disabled {
    background-color: #383838;
    color: #8b8a8d;
  }
  .uiw-enforce-dark-mode .uiw-chip--disabled .uiw-chip__close path {
    fill: #8b8a8d;
  }
  
  /*# sourceMappingURL=chip.css.map */
  
  /**
 * Using non-semantic names exceptionally. Here they are better option in my mind, because
 *  - designers use pixels in their sketches, not e.g. breakpoint-s|m|l
 *  - changing the pixel amount is breaking change, which should anyhow be done by introducing
 *      a new variable and deprecating the old one
 *  - variables still help devs to use the common breakpoints
 */
/* hide chip group input */
.uiw-chips-group {
  display: block;
}
.uiw-chips-group .uiw-chip {
  margin: 0 8px 8px 0;
}
.uiw-chips-group .uiw-chip input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.uiw-chips-group__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.uiw-chips-group__footer {
  display: flex;
  flex-flow: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.uiw-chips-group__optional-label, .uiw-chips-group__hint {
  color: #5a575c;
}
.uiw-chips-group__hint, .uiw-chips-group__error {
  display: flex;
  margin-bottom: 4px;
}
.uiw-chips-group__error-icon {
  margin-right: 8px;
}
.uiw-chips-group--error .uiw-chips-group__label,
.uiw-chips-group--error .uiw-chips-group__error-message {
  color: #e70404;
}

/*# sourceMappingURL=chips-group.css.map */
